Credentials/
Trading Bot/logs/
.env/
.env



# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.db-shm
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/

state/solara_aq.db
state/solara_aq.db-shm
state/solara_aq.db-wal

# Project specific
credentials.py
*.env
*.db-shm
.env*
*.db*
*.pyc

# Large Files (Training Datas)
Model Training/
state/